.hidden { display: none;}
.clearBoth {clear:both!important;}
.right{float:right!important;}
.left{float:left!important;}
.bold{font-weight:bold!important;}
.font14 {font-size: 14px!important;}
.font16 {font-size: 16px!important;}
.font18 {font-size: 18px!important;}
.font20 {font-size: 20px!important;}
.font30 {font-size: 30px!important;}
.font35 {font-size: 35px!important;}
.italic{font-style:italic!important;}
.blueColor {color: #26c3d8!important;}
.lightGrey{color: #c0c0c0!important;}
.darkGrey{color: #303030!important;}

body { 
	padding: 0; 
	margin: 0; 
	background: center repeat-y #ffffff; 
	font-family: Myriad Pro; 
	font-size: 16px; 
	color:2e2e2e;
}
#wrapper {
	overflow:hidden;
	position:relative;
}
#main {
	width:1200px;
	margin:0 auto;
}
table, div {
	text-align: left;
	border-collapse:collapse;
	border-spacing:0;
}
td, th { 
	vertical-align: top; 
}
a { 
	color: #2e2e2e; 
	text-decoration: none;}
a:visited 
{
    color: #2e2e2e; 
   } 
a:hover {
    color: #26c3d8;   
   }
button {
	cursor:pointer;
}
img{
	border-style:none;
}
#topPart {
	height:300px;
	width:100%;
	font-size: 20px; 
}
#topPart li {
	list-style: none outside none;
}
#topPart .topMenu {
    margin: 0;
    padding: 55px 0px 0px 310px;
    position: relativ;
}
#topPart .topMenu  .sectionMenu{
	float:left;
}
#topPart .topMenu  .sectionMenu div{
	width:240px;
}
#topPart .topMenu  .sectionMenu div .linkMenu{
	margin-bottom:10px;
}
#topPart .topMenu  .sectionMenu div .subMenu{
	padding:0px;
}
#topPart .topMenu  .sectionMenu div .subMenuSmall{
	padding:0px 0px 0px 20px;
	font-size: 16px; 
}
#menuSwitch {
	height:50px;
	width:100%;
}
#menuSwitch  .menuButton{
	padding: 30px 0 0 580px;
}
#headerPart {
	height:100%;
	width:100%;
	font-size: 16px; 
}
#headerPart li {
	list-style: none outside none;
}
#headerPart .headerList {
    margin: 0;
    position: relativ;
	height:100%;
}
#headerPart .headerList  .sectionHeader{
	float:left;
}
#headerPart .headerList  #centralPart{
}
#headerPart .headerList  .sectionHeader div .linkMenu{
	margin-bottom:10px;
}
#headerPart .headerList  .sectionHeader div .subMenu{
	padding:0px;
}
#headerPart .headerList  .sectionHeader div .subMenuSmall{
	padding:0px 0px 0px 20px;
	font-size: 16px; 
}
#headerPart .headerList  .sectionHeader #leftMenu{
	height:490px;
	width:170px;
	margin: 50px 0px 0px 120px;
}
#headerPart .headerList  .sectionHeader #logo{
	width:540px;
	margin: 50px 0px 0px 0px;
}
#headerPart .headerList  .sectionHeader #logo li {
    text-align: center;
}
#headerPart .headerList  .sectionHeader #logoLink:hover {
	color: #2e2e2e; 
}
#headerPart .headerList  .sectionHeader #mainMenu{
	margin: 50px 0px 0px 0px;
	height:490px;
	width:320px;
}
#headerPart .headerList  .sectionHeader #rightArrow{
    text-align: right;
	padding-right:40px;
}
#headerPart .headerList  .sectionHeader #mainMenuBorder{
	border:5px solid #e1e1e2;
	width:155px;
	height:120px;
	margin:0px 0px 0px 50px;
}
#headerPart .headerList  .sectionHeader #mainMenuList{
	margin:20px 0px 0px 20px;
}
#footerPart {
	padding-top:70px;
	height:70px;
	width:100%;
	font-size: 14px; 
}
#footerPart li {
	list-style: none outside none;
}
#footerPart .footerList {
    margin: 0;
    padding: 0px 0px 0px 120px;
    position: relativ;
	width:100%;	
}
#footerPart .footerList  .sectionFooter{
	float:left;
}
#footerPart .footerList  .sectionFooter #copyright{
	width:120px;
}
#footerPart .footerList  .sectionFooter #terms{
	padding-top: 3px;
	width:720px;
}
#footerPart .footerList  .sectionFooter #design{
	padding-top: 3px;
	width:115px;
}
#footerPart .footerList  .sectionFooter #mainMenuList{
	margin:20px 0px 0px 20px;
}
#headerPart .headerList  .sectionHeader #mainPart #accEnvir{
	padding-top:100px;
	text-align: center;
	color: #808080;
}
#headerPart .headerList  .sectionHeader #mainPart #picContent{
	height:440px;
	width:537px;
	text-align: center;
}
#headerPart .headerList  .sectionHeader #mainPart #picContent #imageDiv{
	height:300px;
}
#headerPart .headerList  .sectionHeader #mainPart #picContent #textBasedImg{
	padding-top:130px;
}
#headerPart .headerList  .sectionHeader #mainPart #picContent #accImg{
	padding-top:45px;
	padding-right: 27px;
}
#headerPart .headerList  .sectionHeader #mainPart #picContent #javaImg{
	padding-top:110px;
	padding-left: 105px;
}
#headerPart .headerList  .sectionHeader #mainPart #picContent #fossImg{
	padding-top:95px;
	padding-left: 150px;
}

#headerPart .headerList  .sectionHeader #mainPart #picContent #accPlatform{
	padding-top:175px;
	text-align: center;
	font-size: 36px;
}
#headerPart .headerList  .sectionHeader #mainPart #picContent #text1more{
	padding-top:25px;
	text-align: center;
	font-size: 14px;
}
#headerPart .headerList  .sectionHeader #mainPart #picContent #textUnderPic{
	font-size: 36px;
	padding-top:40px;
	text-align: center;
}
#headerPart .headerList  .sectionHeader #mainPart #buttonContent {
	padding-left:45px;
	height:140px;
	width:100%;
}
#headerPart .headerList  .sectionHeader #mainPart #buttonContent ul {
	padding:34px 0px 10px 0px;
}
#headerPart .headerList  .sectionHeader #mainPart  #buttonContent li {
	list-style: none outside none;
	float:left;
	text-align: center;
}
#headerPart .headerList  .sectionHeader #mainPart .twoButton{
	width:205px;
	height:50px;
}
#headerPart .headerList  .sectionHeader #mainPart .twoButton span{
	font-size: 18px;
}
#headerPart .headerList  .sectionHeader #mainPart #downImg{
	padding-right: 11px;
}
#headerPart .headerList  .sectionHeader #mainPart #orLi{
	padding-top:15px;
	width:55px;
	color:#808080;
	font-size: 18px;
}
#headerPart .headerList  .sectionHeader #mainPart .heavyButton{
	background-color:#0060ff;
	border:none;
}
#headerPart .headerList  .sectionHeader #mainPart .lightButton{
	background-color:#ffffff;
	border: 4px solid  #00bed5;
}
#headerPart .headerList  .sectionHeader #mainPart .lightSolidButton{
	background-color:#00bed5;
	border: 4px solid  #00bed5;
}
#headerPart .headerList  .sectionHeader #mainPart .heavyButton span{
	color:#fcffff;
}
#headerPart .headerList  .sectionHeader #mainPart .lightButton span{
	color:#00bed5;
}
#headerPart .headerList  .sectionHeader #mainPart .lightSolidButton span{
	color:#fcffff;
}
#headerPart .headerList  .sectionHeader #mainPart .heavyButton:hover{
	background-color:black;
}
#headerPart .headerList  .sectionHeader #mainPart .lightButton:hover{
	background-color:#ffffff;
	border: 4px solid  black;
}
#headerPart .headerList  .sectionHeader #mainPart .lightSolidButton:hover{
	background-color:black;
	border: 4px solid  black;
}
#headerPart .headerList  .sectionHeader #mainPart .lightButton:hover span{
	color:black;
}
#headerPart .headerList  .sectionHeader #mainPart .lightSolidButton:hover span{
	background-color:black;
}
#headerPart .headerList  .sectionHeader #mainPart #navigation {
	padding: 0px 0px 0px 189px;
}
#headerPart .headerList  .sectionHeader #mainPart #navigation li {
	width:25px;
	list-style: none outside none;
	float:left;
	text-align: center;
}
#headerPart .headerList  .sectionHeader #mainPart #insidePageText {
	width:540px;
	padding-top:90px;
}
#headerPart .headerList  .sectionHeader #mainPart #insidePageText  h1{
	font-size: 36px;
	text-decoration:none;
	font-weight: normal;
}
#headerPart .headerList  .sectionHeader #mainPart #insidePageText  h2{
	font-size: 20px;
	color:#2e2e2e;
	text-decoration:none;
	font-weight: normal;
}
#headerPart .headerList  .sectionHeader #mainPart #insidePageText  h3{
	font-size: 14px;
	color:#a8a9aa;
	text-decoration:none;
	font-weight: normal;
}
#headerPart .headerList  .sectionHeader #mainPart #insidePageText  p{
	font-size: 14px;
	color:#7c7c7c;
	text-decoration:none;
	font-weight: normal;
}
#headerPart .headerList  .sectionHeader #mainPart #insidePageText  ul{
	font-size: 14px;
	color:#a8a9aa;
	text-decoration:none;
	font-weight: normal;
}
#headerPart .headerList  .sectionHeader #mainPart #insidePageText  ul a{
	font-size: 14px;
	color:#a8a9aa;
	text-decoration:none;
	font-weight: normal;
}
#headerPart .headerList  .sectionHeader #mainPart #insidePageText  ul a:hover{
	font-size: 14px;
	color: #26c3d8;   
	text-decoration:none;
	font-weight: normal;
}
#headerPart .headerList  .sectionHeader #mainPart #insidePageText  li{
	list-style: decimal outside none;
}