.hidden-not-important { display: none; }
.clearBoth { clear: both!important; }
.right { float: right!important; }
.left { float: left!important; }
.bold { font-weight: bold!important; }
.font14 { font-size: 14px!important; }
.font16 { font-size: 16px!important; }
.font18 { font-size: 18px!important; }
.font20 { font-size: 20px!important; }
.font30 { font-size: 30px!important; }
.font35 { font-size: 35px!important; }
.font40 { font-size: 40px!important; }
.italic { font-style: italic!important; }
.blueColor { color: #0060ff!important; }
.lightBlueColor { color: #00bed5!important; }
.lightGrey { color: #c0c0c0!important; }
.darkGrey { color: #303030!important; }
.arial { font-family: Arial Unicode MS; }
body { font-family: Myriad Pro; font-size: 16px; }
#wrapper { overflow: hidden; position: relative; }
#main { width: 1200px; margin: 0 auto; }
td, th { vertical-align: top; }
a { color: #2e2e2e; text-decoration: none; }
    a:visited { color: #2e2e2e; }
    a:hover { color: #26c3d8; }
button { cursor: pointer; }
img { border-style: none; }

#topPart .top-part-content { width: 700px; font-size: 20px; margin: 0 auto; margin-top: 35px; }
    #topPart .top-part-content li { list-style: none outside none; }
    #topPart .top-part-content a { display: block; margin-bottom: 10px; }
    #topPart .top-part-content .subMenuSmall { padding: 0px 0px 0px 20px; font-size: 16px; line-height: 1.25em; }

#menuSwitch { margin-top: 35px; }
    #menuSwitch div { text-align: center; }

#headerPart { margin-top: 60px; }
    #headerPart li { list-style: none outside none; }
    #headerPart #logoLink { text-align: center; cursor: pointer; color: #2e2e2e; }
        #headerPart #logoLink #logoLinkUl { padding: 0px 0px 0px 20px; font-size: 16px; line-height: 1.05em; }

    #headerPart #mainMenuBorder { border: 5px solid #e1e1e2; width: 155px; height: 120px; margin: 0px 0px 0px 50px; }
    #headerPart #mainMenuList { margin: 20px 0 0 24px; padding: 0; }

@media screen and (max-width: 768px) {
    #headerPart #mainMenuBorder { width: 100%; margin: 0; text-align: center; }
}

#mainPart #accEnvir { text-align: center; color: #808080; margin-bottom: 30px; font-size: 20px; margin-top: 10px; }
#mainPart #picContent { text-align: center; position: relative; min-height: 370px; }
    #mainPart #picContent #textUnderPic { font-size: 36px; margin-top: 10px; text-align: center; }
    #mainPart #picContent #part1 { position: absolute; bottom: 0; width: 100%; }


#mainPart .heavyButton, #mainPart .lightButton, #mainPart .lightSolidButton { width: 100%; height: 46px; }
#mainPart #buttonContent { width: 500px; margin: 0 auto; margin-top: 30px; }
#mainPart .heavyButton { background-color: #0060ff; border: none; }
    #mainPart .heavyButton span { color: #fcffff; }
    #mainPart .heavyButton:hover { background-color: black; }
#mainPart .lightButton { background-color: #ffffff; border: 4px solid #00bed5; }
    #mainPart .lightButton span { color: #00bed5; }
    #mainPart .lightButton:hover { background-color: #ffffff; border: 4px solid black; }
        #mainPart .lightButton:hover span { color: black; }
#mainPart #orLi { color: #808080; font-size: 18px; text-align: center; }

#mainPart .lightSolidButton { background-color: #00bed5; border: 4px solid #00bed5; }
    #mainPart .lightSolidButton span { color: #fcffff; }
    #mainPart .lightSolidButton:hover { background-color: black; border: 4px solid black; }
        #mainPart .lightSolidButton:hover span { background-color: black; }


@media screen and (max-width: 500px) {
    #mainPart #buttonContent { width: 100%; }
    #accImg { width: 100%; height: auto; }
    #mainPart #picContent #part1 img { width: 100%; height: auto; }
}

#mainPart #navigation { text-align: center; margin-top: 30px; }
    #mainPart #navigation ul { list-style: none; }
    #mainPart #navigation li { margin-right: 10px; display: inline; }

#mainPart #insidePageText { color: #303030; padding-top: 10px; }
    #mainPart #insidePageText h1 { color: #000000; font-size: 36px; font-weight: normal; text-align: center; }
    #mainPart #insidePageText h2 { font-size: 20px; color: #2e2e2e; }
    #mainPart #insidePageText h3 { font-size: 14px; color: #818284; }
    #mainPart #insidePageText p { color: #303030; font-weight: normal; text-decoration: none; }
    #mainPart #insidePageText ul { color: #303030; font-weight: normal; padding-left: 20px; padding-top: 5px; text-decoration: none; }
        #mainPart #insidePageText ul li span { color: #707070; }
        #mainPart #insidePageText ul a { font-size: 14px; color: #0060ff; font-weight: normal; text-decoration: underline; }
    #mainPart #insidePageText li { list-style: decimal outside none; }

#footerPart { margin-top: 30px; }
    #footerPart div { text-align: center; }
